<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotifypgen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BOOST"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotifypgen">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".GenPlaylistActivity"></activity>
        <activity android:name=".SongSearchActivity"></activity>
        <activity android:name=".EmptyPlaylistActivity"></activity>
        <activity android:name=".DispPlaylistsActivity"></activity>
        <activity android:name=".ViewPlaylistSongsActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>